<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out" class="ion-padding" size="large"></ion-icon>
      </ion-button>
		</ion-buttons>
		<ion-title> Meu perfil </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
	<div class="preview">
		<ion-avatar (click)="changeImage()">
			<img *ngIf="profile?.imageUrl; else placheolder_avatar;" [src]="profile.imageUrl" />
			<ng-template #placheolder_avatar>
				<div class="fallback">
					<p>Select avatar</p>
				</div>
			</ng-template>
		</ion-avatar>
	</div>

	<ion-button (click)="navigate()">
		Ir para o Crud
		<ion-icon slot="icon-only" name="add"></ion-icon>
	</ion-button>
</ion-content>
